DOMAIN_NAME=aychikhi.42.fr

#MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

#WordPress
WP_ADMIN_USER=aychikhi_wp
WP_ADMIN_EMAIL=aychikhi@student.42.fr
WP_USER=aychikhi
WP_USER_EMAIL=roy@student.42.fr
